<myorg-navbar></myorg-navbar>
<div class="container">
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
  </div>
  <myorg-counter></myorg-counter>

  <p>
    This is an Angular app built with <a href="https://nx.dev">Nx</a>,
    <a href="https://docs.nestjs.com/">Nest Server</a> and
    <a href="https://ngrx.io/guide/data">NgRx Data</a> in monorepo.
  </p>

  <button class="btn btn-primary mb-2" id="add-todo" (click)="addTodo()">
    Add Todo
  </button>

  <!-- <ul>
        <li *ngFor="let t of todos" class="todo">{{ t.title }}</li>
      </ul> -->

  <myorg-todos></myorg-todos>

  <router-outlet></router-outlet>
</div>
